.folder-name {
    width: 220px;
    padding: 8px;
}

.folder-appname-id {
    display: none;
}

.folder-dropdown {
    padding: 6px;
    min-width: 0;
    margin: 0;
    margin-left: 1em;
    float: right;
}

.folder-storage {
    display: none;
}

.folder-preview {
    border-radius: 4px;
    height: 3.5em;
    overflow: hidden;
}

.folder-preview-wrapper {
    float: left;
    height: 100%;
    margin-left: 10px;
    margin-top: 5px;
}

.folder-preview-divider {
    float: left;
    height: 80%;
    width: 0;
    border-right: 1px solid;
    margin-left: 5px;
}

.folder-element .vm-name {
    padding-left: 30px !important;
}